<!DOCTYPE html>
<html>


	<head>
		<title>CSS Playground</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
		<div class ="nav"> 
		<ul>
			<li><a class="default" href="index.html">Home</li>
			<li><a href="views/html-playground.html">HTML</a></li>
			<li><a href="views/css-playground.html">CSS</a></li>
			<li><a href="views/bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="views/javascript-playground.html">Javascript</a></li>
			<li><a href="views/jquery-playground.html">jQuery</a></a></li>
			<li><a href="views/git-playground.html">Git</a></li>
			<li><a href="views/resources-playground.html">Resources</a></li>

		</div>

		<h1>HTML Items</h1>
		<div class="css-uses">
		<h3>Uses</h3> 
			<ul>
				<li>To give the appearance of your site, a unique look and feel.</li>
				<li>To alter color, fonts, backgrounds, etc.</li>
				<li>To implement some effects and animations, although it's not as powerful and jQuery/JavaScript</li>
			</ul>
		</div>
			<hr>


			<div class="css-statements">
			<h3>CSS Statement</h3>
			<p>Four main components of CSS statement</p>
				<ol>
					<li><b>Declaration:</b> The whole CSS statement in curly braces.</li>
					<li><b>Selector:</b>The name of the part you want to style.</li>
					<li><b>Property:</b>Properties that you edit(e.g., width, height, background, etc.)</li>
					<li><b>Value:</b>Numbers, colors, urls -- things to give value to the property.</li>
				</ol>
			</div>
<div class= face-making-text>
			<h1>Drawing a simple face in CSS.</h1>
<h2>Step 1: Make the circle</h2>
<div class="face">
</div>

<h2>Step 2: Add a left eye</h2>
<div class="face">
  <div class="lefteye"></div>
</div>

<h2>Step 3: Add a right eye</h2>
<div class="face">
  <div class="lefteye"> </div>
  <div class="righteye"> </div>
</div>

<h2>Step 4: Add a mouth</h2>
<div class="face">
  <div class="lefteye"> </div>
  <div class="righteye"> </div>
  <div class="mouth"></div>
</div>

<h2>Step 5: Add inner eyes</h2>
<div class="face">
  <div class="lefteye"><div id="inner-left"></div></div>
  <div class="righteye"><div id="inner-right"></div></div>
  <div class="mouth"></div>
</div>

<h2>Step 5: Add other stuff - Still need to do this.</h2>
<div class="face">
  <div class="lefteye">
    <div id="inner-left"></div>
    <div id="left-brow"></div>
  </div>
  <div class="righteye">
    <div id="inner-right"></div>
    <div id="right-brow"></div>
  </div>
  <div class="mouth"></div>
</div>

</div>


	</body>



</html>
