<!DOCTYPE html>
<html>


	<head>
		<title>CSS Playground</title>
	</head>

	<body>
		<h1>HTML Items</h1>

		<h3>Uses</h3> 
			<ul>
				<li>To give the appearance of your site, a unique look and feel.</li>
				<li>To alter color, fonts, backgrounds, etc.</li>
				<li>To implement some effects and animations, although it's not as powerful and jQuery/JavaScript</li>
			</ul>
			<hr>
			<h3>CSS Statement</h3>
			<p>Four main components of CSS statement</p>
				<ol>
					<li><b>Declaration:</b> The whole CSS statement in curly braces.</li>
					<li><b>Selector:</b>The name of the part you want to style.</li>
					<li><b>Property:</b>Properties that you edit(e.g., width, height, background, etc.)</li>
					<li><b>Value:</b>Numbers, colors, urls -- things to give value to the property.</li>
				</ol>


	</body>



</html>
