<!DOCTYPE html>
<html>


	<head>
		<title>HTML Playground</title>

		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
<div class ="nav"> 
		<ul>
			<li><a class="default" href="../index.html">Home</li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">Javascript</a></li>
			<li><a href="jquery-playground.html">jQuery</a></a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>

		</div>


		<h1>HTML Items</h1> 
		<h2>Header Tags</h2>
		<h1>h1</h1>
		<h3>h3</h3>
		<h6>h6</h6>
		<hr>

		<h2>Paragraph Tag</h2>
		<p>I can write a bunch of text inhere and it will be like a short paragraph. Use this when describing something, giving info, etc.</p>

		<hr>
		<h2>Hyperlinks and href</h2>
			<p>Use the "a href" tag for a link. Copy and paste the URL of the link.</p>
		<a href="https://www.w3schools.com/html/html_headings.asp">w3schools resource</a>
		<hr>
		<h2>Images</h2>
			<p>Images are really easy to add. Create a folder called "img". Save images in img folder.</p>
			<p>Use the "img scr" tag.</p>
			<img scr="../img/polar1.jpg">
		<hr>
		<h1>Divs</h1>
		<div id = "blue" style ="color:blue;border">
			<p>Hello</p>
			<p>Hello rain</p>
		</div>
		<hr>
		<div>
		</hr>
		<div id = "red" style = "color:red"
			<p>This is red</p>
		</div>


		</div>



</body>




</html>
