<!DOCTYPE html>
<html>


	<head>
		<title>Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
​
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>

		<!-- Nav Bar -->
		<div class ="nav"> 
		<ul>
			<li><a class="default" href="../index.html">Home</li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">Javascript</a></li>
			<li><a href="jquery-playground.html">jQuery</a></a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>
		</div>
		<div>
			<h2>Inspiration & Motivation</h2>
				<p>Here's a little image to keep in mind when things get tough in coding.</p>
				<img src="../img/polar1.jpg"/>		

		<div class="resources">
			<h2>Resources</h2>
				<h3>Here are some good resources...</h3>

			<table border="1">
				<tr>
					<td>Languages</td>
					<td>Site Name</td>
					<td>Link</td>
					<td>Description</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, jQuery, C#, basics, SQL</td>
					<td>w3schools</td>
					<td><a ref="https://www.w3wschools.com">w3schools</a></td>
					<td>This site will help you practice your skills. It is a good resource for portfoloio building and for getting coding experience as a new developer...</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, jQuery, Git, Command Line, Python</td>
					<td>codecacademy</td>
					<td><a ref="https://www.codecademy.com">codecademy</a></td>
					<td>This site is good for practice, this website often updates their curricculum and even has a paid option.</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, jQuery</td>
					<td>freeCodeCamp</td>
					<td><a ref="https://www.freecodecamp.com">freeCodeCamp</a></td>
					<td>Over 400 hours of practice/work, and a great place for portfolio building.</td>
				</tr>
				<tr>
					<td>Bootstrap</td>
					<td>Bootstrap</td>
					<td><a ref="https://www.getbootstrap.com">Bootstrap</a></td>
					<td>Over 400 hours of practice/work, and a great place for portfolio building.</td>
				</tr>
				<tr>
					<td>Any Language</td>
					<td>Stack Overflow</td>
					<td><a ref="https://www.stackoverflow.com">Stack Overflow</a></td>
					<td>Over 400 hours of practice/work, and a great place for portfolio building.</td>
				</tr>		
				
		

			</table>
		</div>






	


	</body>
</html>
