<!DOCTYPE html>
<html>


	<head>
		<title>Resources</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
		<div class ="nav"> 
		<ul>
			<li><a class="default" href="index.html">Home</li>
			<li><a href="views/html-playground.html">HTML</a></li>
			<li><a href="views/css-playground.html">CSS</a></li>
			<li><a href="views/bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="views/javascript-playground.html">Javascript</a></li>
			<li><a href="views/jquery-playground.html">jQuery</a></a></li>
			<li><a href="views/git-playground.html">Git</a></li>
			<li><a href="views/resources-playground.html">Resources</a></li>

		</div>

		<h1>HTML Items</h1> 
		




	</body>



</html>
