<!DOCTYPE html>
<html>


	<head>
		<title>Resources</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>

	<body>
		<div class ="nav"> 
		<ul>
			<li><a class="default" href="../index.html">Home</li>
			<li><a href="html-playground.html">HTML</a></li>
			<li><a href="css-playground.html">CSS</a></li>
			<li><a href="bootstrap-playground.html">Bootstrap</a></li>
			<li><a href="javascript-playground.html">Javascript</a></li>
			<li><a href="jquery-playground.html">jQuery</a></a></li>
			<li><a href="git-playground.html">Git</a></li>
			<li><a href="resources-playground.html">Resources</a></li>

		</div>

		<h1>HTML Items</h1> 
		




	</body>



</html>
